<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Hourglass.Properties.Settings>
            <setting name="ActivateNextWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DigitalClockTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MostRecentOptionsInfo" serializeAs="Xml">
                <value>
                    <TimerOptionsInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <Title />
                        <AlwaysOnTop>true</AlwaysOnTop>
                        <PromptOnExit>true</PromptOnExit>
                        <ShowProgressInTaskbar>true</ShowProgressInTaskbar>
                        <DoNotKeepComputerAwake>false</DoNotKeepComputerAwake>
                        <ReverseProgressBar>false</ReverseProgressBar>
                        <DigitalClockTime>false</DigitalClockTime>
                        <ShowTimeElapsed>false</ShowTimeElapsed>
                        <LoopTimer>false</LoopTimer>
                        <PopUpWhenExpired>true</PopUpWhenExpired>
                        <CloseWhenExpired>false</CloseWhenExpired>
                        <ShutDownWhenExpired>false</ShutDownWhenExpired>
                        <ThemeIdentifier>blue-dark</ThemeIdentifier>
                        <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                        <LoopSound>true</LoopSound>
                        <WindowTitleMode>TimerTitle</WindowTitleMode>
                        <WindowSize>
                            <RestoreBounds>
                                <Location>
                                    <X>1305</X>
                                    <Y>432</Y>
                                </Location>
                                <Size>
                                    <Width>355</Width>
                                    <Height>160</Height>
                                </Size>
                                <X>1305</X>
                                <Y>432</Y>
                                <Width>355</Width>
                                <Height>160</Height>
                            </RestoreBounds>
                            <WindowState>Normal</WindowState>
                            <RestoreWindowState>Normal</RestoreWindowState>
                            <IsFullScreen>false</IsFullScreen>
                        </WindowSize>
                        <LockInterface>false</LockInterface>
                        <ValidateArgs>false</ValidateArgs>
                    </TimerOptionsInfo>
                </value>
            </setting>
            <setting name="OpenSavedTimersOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Prefer24HourTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowInNotificationArea" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerInfos" serializeAs="Xml">
                <value>
                    <ArrayOfTimerInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <TimerInfo>
                            <State>Running</State>
                            <StartTime>2024-07-01T17:47:08.479797+02:00</StartTime>
                            <EndTime>2024-07-01T18:00:00</EndTime>
                            <TimeElapsed>400858320</TimeElapsed>
                            <TimeLeft>7314343710</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>7715202030</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="DateTimeToken">
                                    <DateToken xsi:type="EmptyDateToken" />
                                    <TimeToken xsi:type="NormalTimeToken">
                                        <HourPeriod>Pm</HourPeriod>
                                        <Hour>6</Hour>
                                        <Minute>0</Minute>
                                        <Second>0</Second>
                                    </TimeToken>
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <Title />
                                <AlwaysOnTop>true</AlwaysOnTop>
                                <PromptOnExit>true</PromptOnExit>
                                <ShowProgressInTaskbar>true</ShowProgressInTaskbar>
                                <DoNotKeepComputerAwake>false</DoNotKeepComputerAwake>
                                <ReverseProgressBar>false</ReverseProgressBar>
                                <DigitalClockTime>false</DigitalClockTime>
                                <ShowTimeElapsed>false</ShowTimeElapsed>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ShutDownWhenExpired>false</ShutDownWhenExpired>
                                <ThemeIdentifier>blue-dark</ThemeIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>true</LoopSound>
                                <WindowTitleMode>TimerTitle</WindowTitleMode>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>1305</X>
                                            <Y>432</Y>
                                        </Location>
                                        <Size>
                                            <Width>355</Width>
                                            <Height>160</Height>
                                        </Size>
                                        <X>1305</X>
                                        <Y>432</Y>
                                        <Width>355</Width>
                                        <Height>160</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                                <LockInterface>false</LockInterface>
                                <ValidateArgs>false</ValidateArgs>
                            </Options>
                        </TimerInfo>
                        <TimerInfo>
                            <State>Running</State>
                            <StartTime>2024-07-01T17:46:45.0537895+02:00</StartTime>
                            <EndTime>2024-07-02T05:13:00</EndTime>
                            <TimeElapsed>633386341</TimeElapsed>
                            <TimeLeft>411116075764</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>411749462105</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="DateTimeToken">
                                    <DateToken xsi:type="EmptyDateToken" />
                                    <TimeToken xsi:type="NormalTimeToken">
                                        <HourPeriod>Am</HourPeriod>
                                        <Hour>5</Hour>
                                        <Minute>13</Minute>
                                        <Second>0</Second>
                                    </TimeToken>
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <Title />
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <PromptOnExit>true</PromptOnExit>
                                <ShowProgressInTaskbar>true</ShowProgressInTaskbar>
                                <DoNotKeepComputerAwake>false</DoNotKeepComputerAwake>
                                <ReverseProgressBar>false</ReverseProgressBar>
                                <DigitalClockTime>false</DigitalClockTime>
                                <ShowTimeElapsed>false</ShowTimeElapsed>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ShutDownWhenExpired>false</ShutDownWhenExpired>
                                <ThemeIdentifier>blue-dark</ThemeIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>true</LoopSound>
                                <WindowTitleMode>TimerTitlePlusTimeLeft</WindowTitleMode>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>1305</X>
                                            <Y>432</Y>
                                        </Location>
                                        <Size>
                                            <Width>355</Width>
                                            <Height>160</Height>
                                        </Size>
                                        <X>1305</X>
                                        <Y>432</Y>
                                        <Width>355</Width>
                                        <Height>160</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                                <LockInterface>false</LockInterface>
                                <ValidateArgs>false</ValidateArgs>
                            </Options>
                        </TimerInfo>
                        <TimerInfo>
                            <State>Running</State>
                            <StartTime>2024-07-01T16:30:57.5007557+02:00</StartTime>
                            <EndTime>2025-01-01T00:00:00</EndTime>
                            <TimeElapsed>46108916679</TimeElapsed>
                            <TimeLeft>158335316075764</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>158381424992443</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="DateTimeToken">
                                    <DateToken xsi:type="NormalDateToken">
                                        <Year xsi:nil="true" />
                                        <Month>1</Month>
                                        <Day>1</Day>
                                    </DateToken>
                                    <TimeToken xsi:type="EmptyTimeToken" />
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <Title />
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <PromptOnExit>true</PromptOnExit>
                                <ShowProgressInTaskbar>true</ShowProgressInTaskbar>
                                <DoNotKeepComputerAwake>false</DoNotKeepComputerAwake>
                                <ReverseProgressBar>false</ReverseProgressBar>
                                <DigitalClockTime>false</DigitalClockTime>
                                <ShowTimeElapsed>false</ShowTimeElapsed>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ShutDownWhenExpired>false</ShutDownWhenExpired>
                                <ThemeIdentifier>blue-dark</ThemeIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>true</LoopSound>
                                <WindowTitleMode>TimerTitlePlusTimeLeft</WindowTitleMode>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>1305</X>
                                            <Y>432</Y>
                                        </Location>
                                        <Size>
                                            <Width>355</Width>
                                            <Height>160</Height>
                                        </Size>
                                        <X>1305</X>
                                        <Y>432</Y>
                                        <Width>355</Width>
                                        <Height>160</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                                <LockInterface>false</LockInterface>
                                <ValidateArgs>false</ValidateArgs>
                            </Options>
                        </TimerInfo>
                        <TimerInfo>
                            <State>Running</State>
                            <StartTime>2024-07-01T16:25:44.4253045+02:00</StartTime>
                            <EndTime>2025-01-01T00:00:00</EndTime>
                            <TimeElapsed>49239671191</TimeElapsed>
                            <TimeLeft>158335316075764</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>158384555746955</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="DateTimeToken">
                                    <DateToken xsi:type="NormalDateToken">
                                        <Year xsi:nil="true" />
                                        <Month>1</Month>
                                        <Day>1</Day>
                                    </DateToken>
                                    <TimeToken xsi:type="EmptyTimeToken" />
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <Title>happynewyear</Title>
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <PromptOnExit>true</PromptOnExit>
                                <ShowProgressInTaskbar>true</ShowProgressInTaskbar>
                                <DoNotKeepComputerAwake>false</DoNotKeepComputerAwake>
                                <ReverseProgressBar>false</ReverseProgressBar>
                                <DigitalClockTime>false</DigitalClockTime>
                                <ShowTimeElapsed>false</ShowTimeElapsed>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ShutDownWhenExpired>false</ShutDownWhenExpired>
                                <ThemeIdentifier>blue-dark</ThemeIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>true</LoopSound>
                                <WindowTitleMode>TimerTitlePlusTimeLeft</WindowTitleMode>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>1305</X>
                                            <Y>432</Y>
                                        </Location>
                                        <Size>
                                            <Width>355</Width>
                                            <Height>160</Height>
                                        </Size>
                                        <X>1305</X>
                                        <Y>432</Y>
                                        <Width>355</Width>
                                        <Height>160</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                                <LockInterface>false</LockInterface>
                                <ValidateArgs>false</ValidateArgs>
                            </Options>
                        </TimerInfo>
                        <TimerInfo>
                            <State>Running</State>
                            <StartTime>2024-07-01T15:29:37.7205446+02:00</StartTime>
                            <EndTime>2024-07-02T03:00:00</EndTime>
                            <TimeElapsed>82906718790</TimeElapsed>
                            <TimeLeft>331316075764</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>414222794554</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="DateTimeToken">
                                    <DateToken xsi:type="EmptyDateToken" />
                                    <TimeToken xsi:type="NormalTimeToken">
                                        <HourPeriod>Am</HourPeriod>
                                        <Hour>3</Hour>
                                        <Minute>0</Minute>
                                        <Second>0</Second>
                                    </TimeToken>
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <Title />
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <PromptOnExit>true</PromptOnExit>
                                <ShowProgressInTaskbar>true</ShowProgressInTaskbar>
                                <DoNotKeepComputerAwake>false</DoNotKeepComputerAwake>
                                <ReverseProgressBar>false</ReverseProgressBar>
                                <DigitalClockTime>false</DigitalClockTime>
                                <ShowTimeElapsed>false</ShowTimeElapsed>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ShutDownWhenExpired>false</ShutDownWhenExpired>
                                <ThemeIdentifier>blue-dark</ThemeIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>true</LoopSound>
                                <WindowTitleMode>TimerTitlePlusTimeLeft</WindowTitleMode>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>783</X>
                                            <Y>440</Y>
                                        </Location>
                                        <Size>
                                            <Width>355</Width>
                                            <Height>160</Height>
                                        </Size>
                                        <X>783</X>
                                        <Y>440</Y>
                                        <Width>355</Width>
                                        <Height>160</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                                <LockInterface>false</LockInterface>
                                <ValidateArgs>false</ValidateArgs>
                            </Options>
                        </TimerInfo>
                        <TimerInfo>
                            <State>Running</State>
                            <StartTime>2024-07-01T15:26:27.2659361+02:00</StartTime>
                            <EndTime>2024-07-02T15:00:00</EndTime>
                            <TimeElapsed>84811264875</TimeElapsed>
                            <TimeLeft>763316075764</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>848127340639</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="DateTimeToken">
                                    <DateToken xsi:type="EmptyDateToken" />
                                    <TimeToken xsi:type="NormalTimeToken">
                                        <HourPeriod>Pm</HourPeriod>
                                        <Hour>3</Hour>
                                        <Minute>0</Minute>
                                        <Second>0</Second>
                                    </TimeToken>
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <Title>pizza</Title>
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <PromptOnExit>true</PromptOnExit>
                                <ShowProgressInTaskbar>true</ShowProgressInTaskbar>
                                <DoNotKeepComputerAwake>false</DoNotKeepComputerAwake>
                                <ReverseProgressBar>false</ReverseProgressBar>
                                <DigitalClockTime>false</DigitalClockTime>
                                <ShowTimeElapsed>false</ShowTimeElapsed>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ShutDownWhenExpired>false</ShutDownWhenExpired>
                                <ThemeIdentifier>blue-dark</ThemeIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>true</LoopSound>
                                <WindowTitleMode>TimerTitlePlusTimeLeft</WindowTitleMode>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>783</X>
                                            <Y>440</Y>
                                        </Location>
                                        <Size>
                                            <Width>355</Width>
                                            <Height>160</Height>
                                        </Size>
                                        <X>783</X>
                                        <Y>440</Y>
                                        <Width>355</Width>
                                        <Height>160</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                                <LockInterface>false</LockInterface>
                                <ValidateArgs>false</ValidateArgs>
                            </Options>
                        </TimerInfo>
                        <TimerInfo>
                            <State>Running</State>
                            <StartTime>2024-07-01T15:20:14.4995412+02:00</StartTime>
                            <EndTime>2024-07-02T15:00:00</EndTime>
                            <TimeElapsed>88538928824</TimeElapsed>
                            <TimeLeft>763316075764</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>851855004588</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="DateTimeToken">
                                    <DateToken xsi:type="EmptyDateToken" />
                                    <TimeToken xsi:type="NormalTimeToken">
                                        <HourPeriod>Pm</HourPeriod>
                                        <Hour>3</Hour>
                                        <Minute>0</Minute>
                                        <Second>0</Second>
                                    </TimeToken>
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <Title>pizza</Title>
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <PromptOnExit>true</PromptOnExit>
                                <ShowProgressInTaskbar>true</ShowProgressInTaskbar>
                                <DoNotKeepComputerAwake>false</DoNotKeepComputerAwake>
                                <ReverseProgressBar>false</ReverseProgressBar>
                                <DigitalClockTime>false</DigitalClockTime>
                                <ShowTimeElapsed>false</ShowTimeElapsed>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ShutDownWhenExpired>false</ShutDownWhenExpired>
                                <ThemeIdentifier>blue-dark</ThemeIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>true</LoopSound>
                                <WindowTitleMode>TimerTitlePlusTimeLeft</WindowTitleMode>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>783</X>
                                            <Y>440</Y>
                                        </Location>
                                        <Size>
                                            <Width>355</Width>
                                            <Height>160</Height>
                                        </Size>
                                        <X>783</X>
                                        <Y>440</Y>
                                        <Width>355</Width>
                                        <Height>160</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                                <LockInterface>false</LockInterface>
                                <ValidateArgs>false</ValidateArgs>
                            </Options>
                        </TimerInfo>
                    </ArrayOfTimerInfo>
                </value>
            </setting>
            <setting name="TimerStartInfos" serializeAs="Xml">
                <value>
                    <ArrayOfTimerStartInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="DateTimeToken">
                                <DateToken xsi:type="EmptyDateToken" />
                                <TimeToken xsi:type="NormalTimeToken">
                                    <HourPeriod>Pm</HourPeriod>
                                    <Hour>6</Hour>
                                    <Minute>0</Minute>
                                    <Second>0</Second>
                                </TimeToken>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="DateTimeToken">
                                <DateToken xsi:type="EmptyDateToken" />
                                <TimeToken xsi:type="NormalTimeToken">
                                    <HourPeriod>Am</HourPeriod>
                                    <Hour>5</Hour>
                                    <Minute>13</Minute>
                                    <Second>0</Second>
                                </TimeToken>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="DateTimeToken">
                                <DateToken xsi:type="NormalDateToken">
                                    <Year xsi:nil="true" />
                                    <Month>1</Month>
                                    <Day>1</Day>
                                </DateToken>
                                <TimeToken xsi:type="EmptyTimeToken" />
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="DateTimeToken">
                                <DateToken xsi:type="EmptyDateToken" />
                                <TimeToken xsi:type="NormalTimeToken">
                                    <HourPeriod>Pm</HourPeriod>
                                    <Hour>5</Hour>
                                    <Minute>0</Minute>
                                    <Second>0</Second>
                                </TimeToken>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>0</Hours>
                                <Minutes>3</Minutes>
                                <Seconds>16</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="DateTimeToken">
                                <DateToken xsi:type="EmptyDateToken" />
                                <TimeToken xsi:type="NormalTimeToken">
                                    <HourPeriod>Am</HourPeriod>
                                    <Hour>3</Hour>
                                    <Minute>0</Minute>
                                    <Second>0</Second>
                                </TimeToken>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>0</Hours>
                                <Minutes>0</Minutes>
                                <Seconds>5</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>0</Hours>
                                <Minutes>17</Minutes>
                                <Seconds>0</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="DateTimeToken">
                                <DateToken xsi:type="EmptyDateToken" />
                                <TimeToken xsi:type="NormalTimeToken">
                                    <HourPeriod>Pm</HourPeriod>
                                    <Hour>3</Hour>
                                    <Minute>0</Minute>
                                    <Second>0</Second>
                                </TimeToken>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>0</Hours>
                                <Minutes>3</Minutes>
                                <Seconds>0</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                    </ArrayOfTimerStartInfo>
                </value>
            </setting>
            <setting name="UniqueId" serializeAs="String">
                <value>3b09ae60-5f6d-443f-8c25-7d0e3c1128ad</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserProvidedThemeInfos" serializeAs="Xml">
                <value>
                    <ArrayOfThemeInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="WindowSizeInfo" serializeAs="Xml">
                <value>
                    <WindowSizeInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <RestoreBounds>
                            <Location>
                                <X>1305</X>
                                <Y>432</Y>
                            </Location>
                            <Size>
                                <Width>355</Width>
                                <Height>160</Height>
                            </Size>
                            <X>1305</X>
                            <Y>432</Y>
                            <Width>355</Width>
                            <Height>160</Height>
                        </RestoreBounds>
                        <WindowState>Normal</WindowState>
                        <RestoreWindowState>Normal</RestoreWindowState>
                        <IsFullScreen>false</IsFullScreen>
                    </WindowSizeInfo>
                </value>
            </setting>
        </Hourglass.Properties.Settings>
    </userSettings>
</configuration>